<div id="countdownContainer">
  <div class="boxTime">
    <span class="count" id="days">0</span><br />
    <span class="time">Days</span>
  </div>

  <div class="boxTime">
    <span class="count" id="hours">0</span><br />
    <span class="time">Hours</span>
  </div>

  <div class="boxTime">
    <span class="count" id="minutes">0</span><br />
    <span class="time">Minutes</span>
  </div>

  <div class="boxTime">
    <span class="count" id="seconds">0</span><br />
    <span class="time">Seconds</span>
  </div>
</div>

